USE [master]
GO
/****** Object:  Database [ARKDb]    Script Date: 18/10/2022 19:26:43 ******/
CREATE DATABASE [ARKDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonitoringRK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MonitoringRK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MonitoringRK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MonitoringRK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ARKDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ARKDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alasan]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alasan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Alasan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[Nama] [nvarchar](max) NULL,
	[NPP] [nvarchar](max) NULL,
	[KelompokId] [int] NULL,
	[UnitId] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KodeBIC] [nvarchar](max) NOT NULL,
	[KodeKliring] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabang]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KodeCabang] [nvarchar](max) NULL,
	[Sandi] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Cabang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataToken]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KelompokId] [int] NOT NULL,
	[ModulId] [int] NOT NULL,
	[NPP] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[Nama] [nvarchar](max) NULL,
	[Group] [nvarchar](max) NULL,
	[ApprovalLimit] [decimal](18, 2) NULL,
	[UserIdToken] [nvarchar](max) NOT NULL,
	[TokenExpired] [datetime2](7) NOT NULL,
	[Keterangan] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_DataToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JenisSurat]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JenisSurat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK_JenisSurat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelompok]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelompok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[Singkatan] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Kelompok] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keterangan]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keterangan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Keterangan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libur]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hari] [nvarchar](max) NULL,
	[TanggalLibur] [datetime2](7) NOT NULL,
	[Keterangan] [nvarchar](max) NULL,
 CONSTRAINT [PK_Libur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modul]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modul](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Modul] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[Warna] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surat]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TujuanSurat] [nvarchar](max) NULL,
	[AsalSurat] [nvarchar](max) NULL,
	[Perihal] [nvarchar](max) NULL,
	[Lampiran] [nvarchar](max) NULL,
	[NomorSurat] [nvarchar](max) NULL,
	[JenisSuratId] [int] NULL,
	[Sor] [nvarchar](max) NULL,
 CONSTRAINT [PK_Surat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Kliring]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Kliring](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorSurat] [nvarchar](max) NOT NULL,
	[TanggalSurat] [datetime2](7) NOT NULL,
	[NoReferensi] [nvarchar](max) NOT NULL,
	[NamaPenerima] [nvarchar](max) NOT NULL,
	[BankId] [int] NOT NULL,
	[NomorRekening] [nvarchar](max) NOT NULL,
	[Nominal] [decimal](18, 2) NOT NULL,
	[CabangId] [int] NULL,
	[TanggalTRX] [datetime2](7) NOT NULL,
	[TanggalTestkey] [datetime2](7) NOT NULL,
	[NomorTestkey] [nvarchar](max) NOT NULL,
	[KeteranganId] [int] NULL,
	[AlasanId] [int] NULL,
	[NominalSeharusnya] [decimal](18, 2) NULL,
	[TypeId] [int] NULL,
	[StatusId] [int] NULL,
	[Durasi] [int] NOT NULL,
	[Path] [nvarchar](max) NULL,
	[TanggalDone] [datetime2](7) NULL,
	[CreaterId] [nvarchar](450) NULL,
	[AcceptorId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[SuratId] [int] NULL,
 CONSTRAINT [PK_T_Kliring] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_RTGS]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RTGS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorSurat] [nvarchar](max) NOT NULL,
	[TanggalProses] [datetime2](7) NOT NULL,
	[RelTRN] [nvarchar](max) NOT NULL,
	[TRN] [nvarchar](max) NOT NULL,
	[CabangId] [int] NULL,
	[BankId] [int] NULL,
	[Nominal] [decimal](18, 2) NOT NULL,
	[TanggalDone] [datetime2](7) NULL,
	[FollowUp] [nvarchar](max) NULL,
	[NomorTestkey] [nvarchar](max) NULL,
	[TypeId] [int] NULL,
	[KeteranganId] [int] NULL,
	[StatusId] [int] NULL,
	[Path] [nvarchar](max) NULL,
	[Durasi] [int] NULL,
	[CreaterId] [nvarchar](450) NULL,
	[CreatorId] [nvarchar](max) NULL,
	[AcceptorId] [nvarchar](450) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_T_RTGS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTrans]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK_TypeTrans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 18/10/2022 19:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KelompokId] [int] NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220930120753_InitialCreate', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221005091013_suratId', N'6.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221006072406_initialsurat', N'6.0.9')
GO
SET IDENTITY_INSERT [dbo].[Alasan] ON 

INSERT [dbo].[Alasan] ([Id], [Nama]) VALUES (1, N'Double Transfer')
INSERT [dbo].[Alasan] ([Id], [Nama]) VALUES (2, N'Salah Transfer')
INSERT [dbo].[Alasan] ([Id], [Nama]) VALUES (3, N'Atas Permintaan Nasabah')
SET IDENTITY_INSERT [dbo].[Alasan] OFF
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (1, N'PT. BPD BALI', N'ABALIDBS', N'1290013', 0)
INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (2, N'THE ROYAL BANK OF SCOTLAND N.V.', N'ABNAIDJA', N'520302', 0)
INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (3, N'PT. BANK AGRIS berubah menjadi PT. BANK IBK INDONESIA, efektif 24 Sep 2019', N'IBKOIDJA', N'9450305', 0)
GO
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[Cabang] ON 

INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (1, N'PASAR SIANTAN', N'PASAR SIANTAN', N'02302', 0)
INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (2, N'SEI PINYUH', N'SEI PINYUH', N'02303', 0)
INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (3, N'GAJAH MADA PONTIANAK', N'GAJAH MADA PONTIANAK', N'02306', 0)
GO
SET IDENTITY_INSERT [dbo].[Cabang] OFF
GO
SET IDENTITY_INSERT [dbo].[DataToken] ON 

INSERT [dbo].[DataToken] ([Id], [KelompokId], [ModulId], [NPP], [UserId], [Nama], [Group], [ApprovalLimit], [UserIdToken], [TokenExpired], [Keterangan], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (6, 3, 1, N'80001', N'domame', N'kerajinan tangan', N'wadada', CAST(120000.00 AS Decimal(18, 2)), N'1qeq', CAST(N'2022-10-19T00:00:00.0000000' AS DateTime2), N'2 rusak', CAST(N'2022-10-17T13:11:31.4087039' AS DateTime2), NULL, 0)
INSERT [dbo].[DataToken] ([Id], [KelompokId], [ModulId], [NPP], [UserId], [Nama], [Group], [ApprovalLimit], [UserIdToken], [TokenExpired], [Keterangan], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (8, 5, 1, N'80019', N'domam', N'aaaa', N'werere', CAST(120000.00 AS Decimal(18, 2)), N'wert', CAST(N'2022-10-13T00:00:00.0000000' AS DateTime2), N'8', CAST(N'2022-10-17T14:12:09.8734888' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[DataToken] OFF
GO
SET IDENTITY_INSERT [dbo].[JenisSurat] ON 

INSERT [dbo].[JenisSurat] ([Id], [Nama], [TypeId]) VALUES (1, N'Surat Masuk', 1)
INSERT [dbo].[JenisSurat] ([Id], [Nama], [TypeId]) VALUES (2, N'Memo', 1)
INSERT [dbo].[JenisSurat] ([Id], [Nama], [TypeId]) VALUES (3, N'Surat Keluar', 2)
SET IDENTITY_INSERT [dbo].[JenisSurat] OFF
GO
SET IDENTITY_INSERT [dbo].[Kelompok] ON 

INSERT [dbo].[Kelompok] ([Id], [Nama], [Singkatan], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (1, N'KKR', N'KKR', CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Kelompok] ([Id], [Nama], [Singkatan], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (2, N'PGO', N'PGO', CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Kelompok] ([Id], [Nama], [Singkatan], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (3, N'CST', N'CST', CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), CAST(N'2022-06-09T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Kelompok] OFF
GO
SET IDENTITY_INSERT [dbo].[Keterangan] ON 

INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (1, N'Pengembalian Dana')
INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (2, N'Bilateral')
INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (3, N'Dana Tidak tertagih')
SET IDENTITY_INSERT [dbo].[Keterangan] OFF
GO
SET IDENTITY_INSERT [dbo].[Modul] ON 

INSERT [dbo].[Modul] ([Id], [Nama]) VALUES (1, N'wdw')
SET IDENTITY_INSERT [dbo].[Modul] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Nama], [Warna]) VALUES (1, N'On Progres', N'Biru')
INSERT [dbo].[Status] ([Id], [Nama], [Warna]) VALUES (2, N'2', N'Hijau')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Surat] ON 

INSERT [dbo].[Surat] ([Id], [TujuanSurat], [AsalSurat], [Perihal], [Lampiran], [NomorSurat], [JenisSuratId], [Sor]) VALUES (5, N'aa', N'bb', N'cc', N'--', NULL, 1, NULL)
INSERT [dbo].[Surat] ([Id], [TujuanSurat], [AsalSurat], [Perihal], [Lampiran], [NomorSurat], [JenisSuratId], [Sor]) VALUES (6, N'rudi', N'roy', N'ayo', N'sholat', N'5 waktu', 3, NULL)
INSERT [dbo].[Surat] ([Id], [TujuanSurat], [AsalSurat], [Perihal], [Lampiran], [NomorSurat], [JenisSuratId], [Sor]) VALUES (7, N'PT. BAMBANG SUCIPTO', N'PT. BANK NEGARA INDONESIA', N'perihal', N'-', N'001/OPR/20', 2, NULL)
SET IDENTITY_INSERT [dbo].[Surat] OFF
GO
SET IDENTITY_INSERT [dbo].[T_Kliring] ON 

SET IDENTITY_INSERT [dbo].[T_Kliring] OFF
GO
SET IDENTITY_INSERT [dbo].[T_RTGS] ON 

INSERT [dbo].[T_RTGS] ([Id], [NomorSurat], [TanggalProses], [RelTRN], [TRN], [CabangId], [BankId], [Nominal], [TanggalDone], [FollowUp], [NomorTestkey], [TypeId], [KeteranganId], [StatusId], [Path], [Durasi], [CreaterId], [CreatorId], [AcceptorId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (4, N'34', CAST(N'2022-10-10T00:00:00.0000000' AS DateTime2), N'33', N'df', 15, 27, CAST(23111.00 AS Decimal(18, 2)), NULL, NULL, N'12121', 4, NULL, 1, N'RTGS_12121_11102022_.png', 7, NULL, NULL, NULL, CAST(N'2022-10-10T00:00:00.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[T_RTGS] ([Id], [NomorSurat], [TanggalProses], [RelTRN], [TRN], [CabangId], [BankId], [Nominal], [TanggalDone], [FollowUp], [NomorTestkey], [TypeId], [KeteranganId], [StatusId], [Path], [Durasi], [CreaterId], [CreatorId], [AcceptorId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (5, N'33', CAST(N'2022-10-05T00:00:00.0000000' AS DateTime2), N'33', N'dd', 2, 27, CAST(3333333.00 AS Decimal(18, 2)), NULL, NULL, N'333333', 4, NULL, 1, N'RTGS_333333_11102022_.png', 5, NULL, NULL, NULL, CAST(N'2022-10-11T17:10:13.1539372' AS DateTime2), NULL, 0)
INSERT [dbo].[T_RTGS] ([Id], [NomorSurat], [TanggalProses], [RelTRN], [TRN], [CabangId], [BankId], [Nominal], [TanggalDone], [FollowUp], [NomorTestkey], [TypeId], [KeteranganId], [StatusId], [Path], [Durasi], [CreaterId], [CreatorId], [AcceptorId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (6, N'1212', CAST(N'2022-10-04T00:00:00.0000000' AS DateTime2), N'121', N'sdsd', 18, 27, CAST(1212121.00 AS Decimal(18, 2)), NULL, NULL, N'12121', 4, NULL, 1, N'', 5, NULL, NULL, NULL, CAST(N'2022-10-11T17:17:46.6112018' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[T_RTGS] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeTrans] ON 

INSERT [dbo].[TypeTrans] ([Id], [Nama], [UnitId]) VALUES (1, N'Surat Masuk', 1)
INSERT [dbo].[TypeTrans] ([Id], [Nama], [UnitId]) VALUES (2, N'Surat Keluar', 1)
INSERT [dbo].[TypeTrans] ([Id], [Nama], [UnitId]) VALUES (3, N'RTGS Masuk', 2)
SET IDENTITY_INSERT [dbo].[TypeTrans] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (1, N'Kliring', 1, NULL, NULL, NULL)
INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (2, N'RTGS', 1, NULL, NULL, NULL)
INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [CreateDate], [UpdateDate], [IsDeleted]) VALUES (3, N'Admin', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 18/10/2022 19:26:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_KelompokId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_KelompokId] ON [dbo].[AspNetUsers]
(
	[KelompokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_UnitId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_UnitId] ON [dbo].[AspNetUsers]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 18/10/2022 19:26:44 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataToken_KelompokId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_DataToken_KelompokId] ON [dbo].[DataToken]
(
	[KelompokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DataToken_ModulId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_DataToken_ModulId] ON [dbo].[DataToken]
(
	[ModulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JenisSurat_UnitId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_JenisSurat_UnitId] ON [dbo].[JenisSurat]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Surat_JenisSuratId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_Surat_JenisSuratId] ON [dbo].[Surat]
(
	[JenisSuratId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_T_Kliring_AcceptorId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_AcceptorId] ON [dbo].[T_Kliring]
(
	[AcceptorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_AlasanId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_AlasanId] ON [dbo].[T_Kliring]
(
	[AlasanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_BankId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_BankId] ON [dbo].[T_Kliring]
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_CabangId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_CabangId] ON [dbo].[T_Kliring]
(
	[CabangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_T_Kliring_CreaterId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_CreaterId] ON [dbo].[T_Kliring]
(
	[CreaterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_KeteranganId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_KeteranganId] ON [dbo].[T_Kliring]
(
	[KeteranganId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_StatusId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_StatusId] ON [dbo].[T_Kliring]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_SuratId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_SuratId] ON [dbo].[T_Kliring]
(
	[SuratId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_Kliring_TypeId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_Kliring_TypeId] ON [dbo].[T_Kliring]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_T_RTGS_AcceptorId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_AcceptorId] ON [dbo].[T_RTGS]
(
	[AcceptorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_RTGS_BankId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_BankId] ON [dbo].[T_RTGS]
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_RTGS_CabangId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_CabangId] ON [dbo].[T_RTGS]
(
	[CabangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_T_RTGS_CreaterId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_CreaterId] ON [dbo].[T_RTGS]
(
	[CreaterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_RTGS_KeteranganId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_KeteranganId] ON [dbo].[T_RTGS]
(
	[KeteranganId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_RTGS_StatusId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_StatusId] ON [dbo].[T_RTGS]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_T_RTGS_TypeId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_T_RTGS_TypeId] ON [dbo].[T_RTGS]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeTrans_UnitId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_TypeTrans_UnitId] ON [dbo].[TypeTrans]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Unit_KelompokId]    Script Date: 18/10/2022 19:26:44 ******/
CREATE NONCLUSTERED INDEX [IX_Unit_KelompokId] ON [dbo].[Unit]
(
	[KelompokId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Kelompok_KelompokId] FOREIGN KEY([KelompokId])
REFERENCES [dbo].[Kelompok] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Kelompok_KelompokId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Unit_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Unit_UnitId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DataToken]  WITH CHECK ADD  CONSTRAINT [FK_DataToken_Kelompok_KelompokId] FOREIGN KEY([KelompokId])
REFERENCES [dbo].[Kelompok] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataToken] CHECK CONSTRAINT [FK_DataToken_Kelompok_KelompokId]
GO
ALTER TABLE [dbo].[DataToken]  WITH CHECK ADD  CONSTRAINT [FK_DataToken_Modul_ModulId] FOREIGN KEY([ModulId])
REFERENCES [dbo].[Modul] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DataToken] CHECK CONSTRAINT [FK_DataToken_Modul_ModulId]
GO
ALTER TABLE [dbo].[JenisSurat]  WITH CHECK ADD  CONSTRAINT [FK_JenisSurat_TypeTrans_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTrans] ([Id])
GO
ALTER TABLE [dbo].[JenisSurat] CHECK CONSTRAINT [FK_JenisSurat_TypeTrans_TypeId]
GO
ALTER TABLE [dbo].[JenisSurat]  WITH CHECK ADD  CONSTRAINT [FK_JenisSurat_Unit_UnitId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[JenisSurat] CHECK CONSTRAINT [FK_JenisSurat_Unit_UnitId]
GO
ALTER TABLE [dbo].[Surat]  WITH CHECK ADD  CONSTRAINT [FK_Surat_JenisSurat_JenisSuratId] FOREIGN KEY([JenisSuratId])
REFERENCES [dbo].[JenisSurat] ([Id])
GO
ALTER TABLE [dbo].[Surat] CHECK CONSTRAINT [FK_Surat_JenisSurat_JenisSuratId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Alasan_AlasanId] FOREIGN KEY([AlasanId])
REFERENCES [dbo].[Alasan] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Alasan_AlasanId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_AspNetUsers_AcceptorId] FOREIGN KEY([AcceptorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_AspNetUsers_AcceptorId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_AspNetUsers_CreaterId] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_AspNetUsers_CreaterId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Bank_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Bank_BankId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Cabang_CabangId] FOREIGN KEY([CabangId])
REFERENCES [dbo].[Cabang] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Cabang_CabangId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Keterangan_KeteranganId] FOREIGN KEY([KeteranganId])
REFERENCES [dbo].[Keterangan] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Keterangan_KeteranganId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Status_StatusId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Surat_SuratId] FOREIGN KEY([SuratId])
REFERENCES [dbo].[Surat] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Surat_SuratId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_TypeTrans_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTrans] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_TypeTrans_TypeId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_AspNetUsers_AcceptorId] FOREIGN KEY([AcceptorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_AspNetUsers_AcceptorId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_AspNetUsers_CreaterId] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_AspNetUsers_CreaterId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Bank_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Bank_BankId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Cabang_CabangId] FOREIGN KEY([CabangId])
REFERENCES [dbo].[Cabang] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Cabang_CabangId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Keterangan_KeteranganId] FOREIGN KEY([KeteranganId])
REFERENCES [dbo].[Keterangan] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Keterangan_KeteranganId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Status_StatusId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_TypeTrans_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTrans] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_TypeTrans_TypeId]
GO
ALTER TABLE [dbo].[TypeTrans]  WITH CHECK ADD  CONSTRAINT [FK_TypeTrans_Unit_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[TypeTrans] CHECK CONSTRAINT [FK_TypeTrans_Unit_UnitId]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Kelompok_KelompokId] FOREIGN KEY([KelompokId])
REFERENCES [dbo].[Kelompok] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Kelompok_KelompokId]
GO
USE [master]
GO
