USE [MonitoringRK]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/09/2022 17:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alasan]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alasan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Alasan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[Nama] [nvarchar](max) NULL,
	[NPP] [nvarchar](max) NULL,
	[KelompokId] [int] NULL,
	[UnitId] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KodeBIC] [nvarchar](max) NOT NULL,
	[KodeKliring] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabang]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KodeCabang] [nvarchar](max) NULL,
	[Sandi] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_Cabang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelompok]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelompok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[Singkatan] [nvarchar](max) NOT NULL,
	[Createdate] [datetime2](7) NULL,
	[Updatedate] [datetime2](7) NULL,
	[Deletedate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Kelompok] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keterangan]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keterangan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Keterangan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[Warna] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Kliring]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Kliring](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorSurat] [nvarchar](max) NOT NULL,
	[TanggalSurat] [datetime2](7) NOT NULL,
	[NoReferensi] [nvarchar](max) NOT NULL,
	[NamaPenerima] [nvarchar](max) NOT NULL,
	[BankId] [int] NULL,
	[NomorRekening] [nvarchar](max) NOT NULL,
	[Nominal] [decimal](18, 2) NOT NULL,
	[CabangId] [int] NULL,
	[TanggalTRX] [datetime2](7) NOT NULL,
	[TestkeyId] [int] NULL,
	[KeteranganId] [int] NULL,
	[AlasanId] [int] NULL,
	[NominalSeharusnya] [decimal](18, 2) NULL,
	[TypeId] [int] NULL,
	[StatusId] [int] NULL,
	[Durasi] [int] NOT NULL,
	[path] [nvarchar](max) NOT NULL,
	[TanggalDone] [datetime2](7) NULL,
	[CreaterId] [nvarchar](450) NULL,
	[CreateId] [int] NULL,
	[AcceptedId1] [nvarchar](450) NULL,
	[AcceptedId] [int] NULL,
	[Createdate] [datetime2](7) NULL,
	[Updatedate] [datetime2](7) NULL,
	[Deletedate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_T_Kliring] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_RTGS]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RTGS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorSurat] [nvarchar](max) NOT NULL,
	[TanggalProses] [datetime2](7) NOT NULL,
	[RelTRN] [nvarchar](max) NOT NULL,
	[TRN] [nvarchar](max) NOT NULL,
	[CabangId] [int] NULL,
	[BankId] [int] NULL,
	[Nominal] [decimal](18, 2) NOT NULL,
	[TanggalDone] [datetime2](7) NULL,
	[Followup] [nvarchar](max) NULL,
	[TestkeyId] [int] NULL,
	[TypeId] [int] NULL,
	[KeteranganId] [int] NULL,
	[StatusId] [int] NULL,
	[Createdate] [datetime2](7) NULL,
	[Updatedate] [datetime2](7) NULL,
	[Deletedate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_T_RTGS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testkey]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testkey](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tanggal] [datetime2](7) NOT NULL,
	[NomorTestkey] [nvarchar](max) NOT NULL,
	[KeteranganId] [int] NULL,
	[UnitId] [int] NULL,
	[Createdate] [datetime2](7) NULL,
	[Updatedate] [datetime2](7) NULL,
	[Deletedate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Testkey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeTrans]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK_TypeTrans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 01/09/2022 17:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](max) NOT NULL,
	[KelompokId] [int] NULL,
	[Createdate] [datetime2](7) NULL,
	[Updatedate] [datetime2](7) NULL,
	[Deletedate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220831082310_InitialCreate', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220831083611_UpdateModelBank', N'6.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220831085102_UpdateModelCabang', N'6.0.8')
GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (1, N'PT. BPD BALI', N'ABALIDBS', N'1290013', 0)
INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (2, N'THE ROYAL BANK OF SCOTLAND N.V.', N'ABNAIDJA', N'520302', 0)
INSERT [dbo].[Bank] ([Id], [Nama], [KodeBIC], [KodeKliring], [IsDeleted]) VALUES (3, N'PT. BANK AGRIS berubah menjadi PT. BANK IBK INDONESIA, efektif 24 Sep 2019', N'IBKOIDJA', N'9450305', 0)
GO
SET IDENTITY_INSERT [dbo].[Bank] OFF
GO
SET IDENTITY_INSERT [dbo].[Cabang] ON 

INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (1, N'PASAR SIANTAN', N'PASAR SIANTAN', N'02302', 0)
INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (2, N'SEI PINYUH', N'SEI PINYUH', N'02303', 0)
INSERT [dbo].[Cabang] ([Id], [Nama], [KodeCabang], [Sandi], [isDeleted]) VALUES (3, N'GAJAH MADA PONTIANAK', N'GAJAH MADA PONTIANAK', N'02306', 0)
GO
SET IDENTITY_INSERT [dbo].[Cabang] OFF
GO
SET IDENTITY_INSERT [dbo].[Kelompok] ON 

INSERT [dbo].[Kelompok] ([Id], [Nama], [Singkatan], [Createdate], [Updatedate], [Deletedate], [IsDeleted]) VALUES (1, N'KKR', N'KKR', NULL, NULL, NULL, NULL)
INSERT [dbo].[Kelompok] ([Id], [Nama], [Singkatan], [Createdate], [Updatedate], [Deletedate], [IsDeleted]) VALUES (2, N'PGO', N'PGO', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Kelompok] OFF
GO
SET IDENTITY_INSERT [dbo].[Keterangan] ON 

INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (1, N'Pengembalian Dana')
INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (2, N'Bilateral')
INSERT [dbo].[Keterangan] ([Id], [Nama]) VALUES (3, N'Dana Tidak tertagih')
SET IDENTITY_INSERT [dbo].[Keterangan] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Nama], [Warna]) VALUES (1, N'On Progres', N'Biru')
INSERT [dbo].[Status] ([Id], [Nama], [Warna]) VALUES (2, N'2', N'Hijau')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeTrans] ON 

INSERT [dbo].[TypeTrans] ([Id], [Type], [UnitId]) VALUES (1, N'Surat Masuk', 1)
INSERT [dbo].[TypeTrans] ([Id], [Type], [UnitId]) VALUES (2, N'Surat Keluar', 1)
INSERT [dbo].[TypeTrans] ([Id], [Type], [UnitId]) VALUES (3, N'RTGS Masuk', 2)
SET IDENTITY_INSERT [dbo].[TypeTrans] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [Createdate], [Updatedate], [Deletedate], [IsDeleted]) VALUES (1, N'Kliring', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [Createdate], [Updatedate], [Deletedate], [IsDeleted]) VALUES (2, N'RTGS', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Unit] ([Id], [Nama], [KelompokId], [Createdate], [Updatedate], [Deletedate], [IsDeleted]) VALUES (3, N'Admin', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Kelompok_KelompokId] FOREIGN KEY([KelompokId])
REFERENCES [dbo].[Kelompok] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Kelompok_KelompokId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Unit_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Unit_UnitId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Alasan_AlasanId] FOREIGN KEY([AlasanId])
REFERENCES [dbo].[Alasan] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Alasan_AlasanId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_AspNetUsers_AcceptedId1] FOREIGN KEY([AcceptedId1])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_AspNetUsers_AcceptedId1]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_AspNetUsers_CreaterId] FOREIGN KEY([CreaterId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_AspNetUsers_CreaterId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Bank_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Bank_BankId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Cabang_CabangId] FOREIGN KEY([CabangId])
REFERENCES [dbo].[Cabang] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Cabang_CabangId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Keterangan_KeteranganId] FOREIGN KEY([KeteranganId])
REFERENCES [dbo].[Keterangan] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Keterangan_KeteranganId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Status_StatusId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_Testkey_TestkeyId] FOREIGN KEY([TestkeyId])
REFERENCES [dbo].[Testkey] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_Testkey_TestkeyId]
GO
ALTER TABLE [dbo].[T_Kliring]  WITH CHECK ADD  CONSTRAINT [FK_T_Kliring_TypeTrans_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTrans] ([Id])
GO
ALTER TABLE [dbo].[T_Kliring] CHECK CONSTRAINT [FK_T_Kliring_TypeTrans_TypeId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Bank_BankId] FOREIGN KEY([BankId])
REFERENCES [dbo].[Bank] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Bank_BankId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Cabang_CabangId] FOREIGN KEY([CabangId])
REFERENCES [dbo].[Cabang] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Cabang_CabangId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Keterangan_KeteranganId] FOREIGN KEY([KeteranganId])
REFERENCES [dbo].[Keterangan] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Keterangan_KeteranganId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Status_StatusId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_Testkey_TestkeyId] FOREIGN KEY([TestkeyId])
REFERENCES [dbo].[Testkey] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_Testkey_TestkeyId]
GO
ALTER TABLE [dbo].[T_RTGS]  WITH CHECK ADD  CONSTRAINT [FK_T_RTGS_TypeTrans_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeTrans] ([Id])
GO
ALTER TABLE [dbo].[T_RTGS] CHECK CONSTRAINT [FK_T_RTGS_TypeTrans_TypeId]
GO
ALTER TABLE [dbo].[Testkey]  WITH CHECK ADD  CONSTRAINT [FK_Testkey_Keterangan_KeteranganId] FOREIGN KEY([KeteranganId])
REFERENCES [dbo].[Keterangan] ([Id])
GO
ALTER TABLE [dbo].[Testkey] CHECK CONSTRAINT [FK_Testkey_Keterangan_KeteranganId]
GO
ALTER TABLE [dbo].[Testkey]  WITH CHECK ADD  CONSTRAINT [FK_Testkey_Unit_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Testkey] CHECK CONSTRAINT [FK_Testkey_Unit_UnitId]
GO
ALTER TABLE [dbo].[TypeTrans]  WITH CHECK ADD  CONSTRAINT [FK_TypeTrans_Unit_UnitId] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[TypeTrans] CHECK CONSTRAINT [FK_TypeTrans_Unit_UnitId]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Kelompok_KelompokId] FOREIGN KEY([KelompokId])
REFERENCES [dbo].[Kelompok] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Kelompok_KelompokId]
GO
