@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 10px 14px;
        font-size: 12px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>

<section class="content">
    <div class="container">
<div class="card">
    <div class="card-header card-header-info">
        <h2 class="card-title badge text-light font-weight-bolder" style="background-color:#319DA0">Monitoring</h2>
        <p class="card-category"> Transaksi RTGS</p>
    </div>
    <div class="card-body">
        <div class="row" style="margin-left:20px">
            <div class="col-md-3">
                <label class="bmd-label-floating">Dari Tanggal</label>
                <input id="startDate" type="date" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="bmd-label-floating">Sampai Tanggal</label>
                <input id="endDate" type="date" class="form-control" />
            </div>
            <div class="col-md-3">
                <br />
                <button class="btn btn-primary" onclick="Monitoring();">Filter</button>
                <button class="btn btn-outline-secondary" onclick="Read();" style="margin-left: 9px;"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <br />
        <table id="table" class="table table-bordered table-responsive display nowrap" style="widht:100%">
            <thead>
                <tr>
                    <th style="vertical-align:middle">No</th>
                    <th style="vertical-align:middle">Tipe Surat</th>
                    <th style="vertical-align:middle">Tanggal</th>
                    <th style="vertical-align:middle">Cabang</th>
                    <th style="vertical-align:middle">Nomor Surat / Ni / Memo</th>
                    <th style="vertical-align:middle">TRN</th>
                    <th style="vertical-align:middle">REL TRN</th>
                    <th style="vertical-align:middle">Bank Tujuan</th>
                    <th style="vertical-align:middle">Nominal</th>
                    <th style="vertical-align:middle">Keterangan</th>
                    <th style="vertical-align:middle">Durasi(HK)</th>
                    <th style="vertical-align:middle">Status</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="footer">
    </div>
</div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            Read();
        });

        function Read() {
            var t = $('#table').DataTable({
                "scrollX" : true,
                "ajax" : {
                "url" : "@Url.Action("GetMonitoring", "RTGS")",
                "type" : "GET",
                "datatype" : "json"
                },

                "columns" : [
                    {
                        "render": (data,type, row, meta) => meta.row + meta.settings._iDisplayStart +1
                    },
                    {"data" : "type.nama"},
                    {
                        "render" : function (data, type, row) {
                            return moment(row.TanggalProses).format('DD MMMM YYYY');
                        }
                    },
                    {"data" : "cabang.nama"},
                    {"data" : "nomorSurat"},
                    {"data" : "trn"},
                    {"data" : "relTRN"},
                    {"data" : "bank.nama"},
                    {"data" : "nominal"},
                    {"data" : "keterangan.nama"},
                    {"data" : "durasi"},
                    {
                        "render": function (data, type, row) {
                            if(row.statusId == 2){
                                return "<span>done</span>"
                            }
                            //return "<button class='btn btn-primary btn-sm text-white' onclick = Submit('" + row.id + "');><i class='fas fa-check-square'></i></button> "
                        },
                    },
                ]
            })
        }
    </script>
}