@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header card-header-info">
        <h2 class="card-title">Report</h2>
        <p class="card-category">RTGS</p>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-3">
                <label class="bmd-label-floating">Dari Tanggal</label>
                <input id="startDate" type="date" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="bmd-label-floating">Sampai Tanggal</label>
                <input id="endDate" type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Tipe</label>
            <div class="col-md-3">
                <select required id="tipe" data-placement="choose" class="form-control select2 tipe"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-5 offset-md-3">
                <a id="print" class="btn btn-outline-primary">Buat Report</a>
            </div>
        </div>
    </div>
</div>