@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Input Data</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <input type="hidden" id="bankId" />
                        <label class="col-sm-3 control-label">Nama Bank</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="bankname" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">kode Kliring</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="kodekliring" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">kode Bank</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="kodebank" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="Save" onclick="Validation();">Simpan</button>
                <button type="button" class="btn btn-primary" id="Update" onclick="Validation();">Perbarui</button>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container">
        <div class="card" style="background-color:white">
    <div class="card-header card-header-info">
        <h3 class="card-title">Master Bank</h3>
        <p class="card-text">tambah / perbarui / hapus data</p>
        <a class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()" data-backdrop="static" data-keyboard="false" ;><i class="fa fa-plus"></i></a>
    </div>
    <div class="card-body ">
        <table id="table" class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Bank</th>
                    <th>Kode Kliring</th>
                    <th>Kode Bank</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
    </div>
</section>

