@{
    ViewBag.Title = "Proses";
}

<section class="content">
    <div class="container">
        <div class="card" style="background-color:white">
            <div class="card-header card-header-info">
                <h2 class="card-title badge text-light font-weight-bolder" style="background-color:#319DA0">Proses</h2>
                <p class="card-text font-weight-bolder">Transaksi Kliring Belum Selesai</p>
                @*<a class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()" data-backdrop="static" data-keyboard="false" ;><i class="fa fa-plus"></i></a>*@
            </div>
            <div class="card-body ">
                <div class="row" style="margin-left:20px;margin-bottom:20px">
                    <label class="bmd-label-floating">Tipe Surat</label>

                    <div class="col-md-4">
                        <select required Id="Tipe" name="Tipe" data-placement="choose" class="form-control select2 Tipe">
                            @*<option value="">--- Pilih Tipe ---</option>*@
                        </select>
                    </div>
                </div>
                <table id="table" class="table table-bordered">
                    <thead style="background-color:#319DA0">
                        <tr>
                            <th>No.</th>
                            <th>Bank</th>
                            <th>No. Rekening</th>
                            <th>Nominal</th>
                            <th>Nasabah Penerima</th>
                            <th>Alasan</th>
                            <th>Durasi</th>
                            <th>Tipe Transaksi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts{

 <script>

      $(document).ready(function () {  
            GetType();
            Read();
        });


        function GetType() {
            $.ajax({
                url: "@Url.Action("GetType","Master")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    //console.log(data);
                    //$("select[id=Tipe]").empty();
                    $("select[name=Tipe]").append('<option value="">--Tipe--</option>')
                    $.each(data, function (i, value) {
                        $("select[name=Tipe]").append(`<option value="${value.Id}">${value.type}</option>`)
                    })
                }
            })
        }

        function Read() {
            var t = $("#table").DataTable({
                "ajax": {
                    "url": "@Url.Action("GetList","Account")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": null },
                    { "data": "Bank" },
                    { "data": "No.Rek" },
                    { "data": "Nominal" },
                    { "data": "Nasabah Penerima" },
                    { "data": "Alasan" },
                    { "data": "Durasi" },
                    { "data": "Tipe-Transaksi" },
                    {
                        "render": function (data, type, row) {
                            return "<button class='btn btn-warning btn-sm text-white' onclick = GetById('" + row.id + "');><i class='fas fa-edit'></i></button> " +
                                "<button class='btn btn-danger btn-sm text-white' onclick = Delete('" + row.id + "');><i class='fa fa-trash'></i></button>";
                        },

                    },
                ]
            })
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $, ajax({
                url: "@Url.Action("GetAllKelompok","Master")",
                type: "get",
                dataType: "json",
                success: function ({ data }) {
                    $.Each(data, function (i, kel) {
                        $("select[name=kelompokId]").append(`<option value="${kel.Id}">${kel.nama}</option> `)
                    })
                }
            })
        }
   </script>
   }