@{
	ViewBag.Title = "Reports";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title badge text-light font-weight-bolder" style="background-color:#e0a017">
					Report
				</h2>
				<p class="card-text font-weight-bolder">Retur Kliring</p>
			</div>
			<div class="card-body">
				<div class="form-group row">
					<label class="bmd-label-floating col-md-2">Tanggal Register</label>
					<div class="col-md-3">
						<input id="Startreport" type="date" class="form-control daterange" />
					</div>
					<div class="col-md-3">
						<input id="Endreport" type="date" class="form-control daterange" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-2">Tipe</label>
					<div class="col-md-3">
						<select required id="Tipe" name="Tipe" data-placement="choose" class="form-control select2 Tipe"></select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-5 offset-md-3">
						<a id="Print" class="btn btn-outline-primary">Unduh Laporan</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section scripts{
	<script>
		$(document).ready(function () {
			GetType();
			$(".select2").select2({
				"theme": "classic"
			});

		});

        function GetType() {
            $.ajax({
                url: "@Url.Action("GetType","Kliring")",
                type: "Get",
                dataType: "json",
                success: function ({ data }) {
                    //console.log(data);
                    $("select[name=tipe]").empty();
                    $("select[name=tipe]").append('<option value="">-- Pilih Tipe Surat --</option>')
                    $.each(data, function (i, value) {
                        $("select[name=tipe]").append(`<option value="${value.id}">${value.nama}</option>`)
                    })
                }
            })
        }
    </script>
}
