@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-header" style="background-color:lightblue">
                <h2 class="card-title font-weight-bolder" style="background-color:##a0d5f2">
                    Report
                    </h2>
                <p class="card-text">Retur Kliring</p>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="bmd-label-floating col-md-2">Tanggal Register</label>
                    <div class="col-md-3">
                        <input id="Startreport" type="date" class="form-control daterange" />
                    </div>
                    <div class="col-md-3">
                        <input id="Endreport" type="date" class="form-control daterange" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2">Tipe</label>
                    <div class="col-md-3">
                        <select required id="Tipe" data-placement="choose" class="form-control select2 Tipe"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 offset-md-3">
                        <a id="Print" class="btn btn-outline-primary">Make a Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
