@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <img src="~/img/Dashboard-2.png" class="img-responsive center-block d-block mx-auto" alt="Sample Image" width="600" height="500">
            </div>         
        </div>
    </div>
</section>
