@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Durasi(HK) Retur Kliring</h4>
                        <p class="card-text">Surat Masuk</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td><h6>Jumlah Data</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:green">0</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Tercepat</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:orange">6</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Terlama</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:red">11</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Durasi(HK) Retur Kliring</h4>
                        <p class="card-text">Surat Keluar</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td><h6>Jumlah Data</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:green">0</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Tercepat</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:orange">6</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Terlama</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:red">11</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Durasi(HK) RTGS</h4>
                        <p class="card-text">Surat Masuk</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td><h6>Jumlah Data</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:green">0</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Tercepat</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:orange">6</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Terlama</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:red">11</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Durasi(HK) RTGS</h4>
                        <p class="card-text">Surat Keluar</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td><h6>Jumlah Data</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:green">0</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Tercepat</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:orange">6</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Durasi Terlama</h6></td>
                                <td><h6>:</h6></td>
                                <td><h6 style="color:red">11</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
