@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Durasi(HK) Retur Kliring</h3>
                        <p class="card-text">Surat Masuk</p>                       
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-4 offset-md-1">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Durasi(HK) Retur Kliring</h3>
                        <p class="card-text">Surat Keluar</p>                        
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-4 offset-md-1">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Durasi(HK) RTGS</h3>
                        <p class="card-text">Surat Masuk</p>
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-4 offset-md-1">
                <!-- DONUT CHART -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Durasi(HK) RTGS</h3>
                        <p class="card-text">Surat Keluar</p>
                    </div>
                    <div class="card-body">
                        <canvas id="donutChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Jumlah Data',
                'Durasi Tercepat',
                'Durasi Terlama',                
            ],
            datasets: [
                {
                    data: [700, 500, 400],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })

        var donutChartCanvas1 = $('#donutChart1').get(0).getContext('2d')
        var donutData1 = {
            labels: [
                'Jumlah Data',
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: [700, 500, 400],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                }
            ]
        }
        var donutOptions1 = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas1, {
            type: 'doughnut',
            data: donutData1,
            options: donutOptions1
        })

        var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')
        var donutData2 = {
            labels: [
                'Jumlah Data',
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: [700, 500, 400],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                }
            ]
        }
        var donutOptions2 = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas2, {
            type: 'doughnut',
            data: donutData2,
            options: donutOptions2
        })

        var donutChartCanvas3 = $('#donutChart3').get(0).getContext('2d')
        var donutData3 = {
            labels: [
                'Jumlah Data',
                'Durasi Tercepat',
                'Durasi Terlama',
            ],
            datasets: [
                {
                    data: [700, 500, 400],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                }
            ]
        }
        var donutOptions3 = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas3, {
            type: 'doughnut',
            data: donutData3,
            options: donutOptions3
        })
    })
</script>
