@model Ririn.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MORE | LOGIN</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet"
          href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body class="hold-transition login-page">
    <div class="d-flex justify-content-between align-items-center" style="position:absolute; padding:1%;   top:0; left:0; width:100vw;">
        <img src="~/img/logobni.png" style="width:150px; height:auto; " />
        <img src="~/img/oprlogo.png" style="width:75px; height:auto ; " />

    </div>

    <div class="login-box shadow-md">
        <!-- /.login-logo -->

        <div style="background: rgba( 23, 135, 11, 0.13 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.67 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );" class="card card-outline shadow-lg">
            <div class="card-header text-center">
                @*<h1 class="h1 ">
                    <b class="text-bni-origin " style="text-shadow:5px 5px 10px #525354;">ARK</b> <span class="text-bni-accent "><b>Project</b></span>
                </h1>*@
                <img src="~/img/kkr.png" style="width:18em"/>
            </div>
            <div class="card-body">
                <p class="login-box-msg text-bni-accent font-weight-bolder">Sign in to MORE</p>

                <form method="post">
                    <div class="input-group mb-3">
                        <input asp-for="NPP" class="form-control" placeholder="NPP" />
                        @*<input type="email" class="form-control" placeholder="Email">*@
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope text-bni-origin"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        
                        <input asp-for="Password" class="form-control"
                               placeholder="password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock text-bni-origin"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div class="col-12" style="padding-top:20px">
                            <p class="text-bni-accent">Download Manual Book Application <a href="~/File/MORE_Manual.pdf" style="text-decoration:none; color:#b6f542; text-shadow:0 0 1px #e8eddf"><b> Disini!</b></a></p>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                
                @*<div class="social-auth-links text-center mt-2 mb-3">
                <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
                </div>
                <!-- /.social-auth-links -->
                <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                <a href="register.html" class="text-center">Register a new
                membership</a>
                </p>*@
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.login-box -->
    <div style="position:absolute; display:flex; padding-right:3%; padding-bottom:2%; justify-content:end; align-items:center;   bottom:0; left:0; width:100vw; height:4vh; ">
        <h5 class="caption text-shadow"><i class="fas fa-map-marker-alt text-danger"></i> <span class="text-light">Gunung Rinjani 3726 Mdpl, NTB .</span> </h5>
    </div>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script>
        let showPassword = false;
        $('#btn-show-password').click(function () {
            if (showPassword) {
                $('#btn-show-password').html('<div class="input-group-text"><span class="fas fa-eye"></span></div>');
                $('#Password').attr('type', 'password');
                showPassword = false;
            } else {
                $('#btn-show-password').html('<div class="input-group-text"><span class="fas fa-eye-slash"></span></div>');
                $('#Password').attr('type', 'text');
                showPassword = true;
            }
        });

        document.body.addEventListener("click", function () {
            document.body.classList.toggle("color")
        })
    </script>
</body>

</html>
