<footer class="main-footer text-center navbar-fixed-bottom">
    <strong>Copyright &copy; @DateTime.Now.Year <a class="text-bni-primary"
            href="#"> Made With <i style="color: #FF4033;"
                class="fas fa-heart"></i> By
            OPR</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>
