@using Template.Models.Master
@using Template.Data
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject AppDbContext context

@{
    var user = context.User.Where(x => x.NPP == User.Identity!.Name).FirstOrDefault();
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar bg-bni-primary elevation-4"
       style="overflow-y: auto; width: min-content;">
    <!-- Brand Logo -->
    <a asp-action="Index" asp-controller="Home" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-bold text-bni-origin">
            Template
            <span class="text-bni-accent">PROJECT</span>
        </span>
    </a>
    <nav class="mt-2">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fa fa-dashboard"></i>
            <p>Dashboard</p>
        </a>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->